.swap__card__button {
    grid-column: 2/3;
    grid-row: 4/5;
    align-self: center;
    justify-self: end;
    margin: 0;
    text-decoration: none;
    color: var(--c_beige-secondary);
    background-color: var(--c_green-primary);
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #f4f0e9;
    border-radius: 10px;
    padding: 15px;
    width: 15vw;
    height: 45vh;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: auto;
}

.dots-container
{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.5rem;
}
.card-content
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem;
}

.card-bottom
{
    display: flex;
    justify-content: space-between;
}

.card img {
    width: 15vw;
    height: 25vh;
    border-radius: 5px;
    object-fit: cover;
}

.card h3 {
    font-size: 1.2rem;
    color: var(--c_green-primary);
    margin: 10px 0;
}

.card p {
    color: var(--c_green-primary);
    margin: 10px 0;
}