@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    /* Fuentes */
    font-family: "DM Sans", sans-serif;
    /* Colores */
    --c_white: #fff;
    --c_black: #000;
    --c_green-primary: #727A4B;
    --c_beige-secondary: #F3E8DA;
    --c_gray: #4C4C4C;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f0e9;
    color: #333;
}

.nav__btnHamburger--open,
.nav__btnHamburger--close {
    display: none;
}

/* Nav general */
.nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;
    /* display: flex;
    justify-content: space-between; */
    align-items: center;
    padding: 0 1rem;
    background-color: var(--c_green-primary);
    height: 12vh;
}

/* Logo */
.nav__logo img {
    grid-column: 1/2;
    width: 5vw;
    height: auto;
}


/* Menu, buscador */
.nav__containerMenu {
    grid-column: 3/4;
    margin-top: .5rem;
}

.nav__containerMenu__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    width: 22vw;
    margin-top: .5rem;
}

.nav__containerMenu__menu a {
    text-decoration: none;
    color: var(--c_beige-secondary);
    margin: 0 .8rem 0 0;
}

.nav__containerMenu__searchBar {
    display: flex;
    justify-content: center;

}

.nav__containerMenu__searchBar button {
    border-style: none;
    background-color: transparent;
}

.nav__containerMenu__searchBar button i {
    color: var(--c_beige-secondary);
    transform: scale(1.5);
    margin-left: .5rem;
}

.nav__containerMenu__searchBar input:focus {
    outline: none;
}

#searchBar {
    width: 20vw;
    height: 3vh;
    border-radius: 50px;
    padding-left: .5rem;
    border: none;
}

/* Botones usuario */

.nav__userButton {
    grid-column: 5/6;
    display: flex;
    flex-wrap: nowrap;
}

.button {
    margin: 0 1rem;
    padding: .5rem;
    border-radius: .5rem;
    font-weight: bold;
}

.nav__userButton a {
    text-decoration: none;
    align-self: center;
    text-align: center;
    width: 8rem;
}

.button--outlined {
    border: 1px solid var(--c_beige-secondary);
    background-color: transparent;
    color: var(--c_beige-secondary);
}

.button--filled {
    border: 1px solid var(--c_beige-secondary);
    background-color: var(--c_beige-secondary);
    color: var(--c_green-primary);
}

/* Filtros */

.filters {
    padding: 20px;
    background-color: var(--c_beige-secondary);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.filters h2 {
    margin: 0;
    font-size: 1.5rem;
    color: var(--c_green-primary);
}

.filters ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

.filters ul li {
    background-color: var(--c_white);
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.filters ul li a {
    text-decoration: none;
    color: var(--c_gray);
    font-weight: bold;
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 1.5;
}

.filters ul li:hover {
    background-color: var(--c_green-primary);
}

.filters ul li:hover a {
    color: var(--c_white);
}

/* Catálogo */
#catalogo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2vw;
    background-color: #727A4B;
    padding: 3vw 5vw;
    /* justify-content: center; */
}

.swap__card__button {
    grid-column: 2/3;
    grid-row: 4/5;
    align-self: center;
    justify-self: end;
    margin: 0;
    text-decoration: none;
    color: var(--c_beige-secondary);
    background-color: var(--c_green-primary);
}

.prenda {
    display: flex;
    flex-direction: column;
    background-color: #f4f0e9;
    border-radius: 10px;
    padding: 15px;
    width: 13vw;
    height: 40vh;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: auto;
}

/* .prenda-img{} */
.prenda img {
    width: 13vw;
    height: 25vh;
    border-radius: 5px;
    object-fit: cover;
}

.prenda h3 {
    font-size: 1.2rem;
    color: #333;
    margin: 10px 0;
}

.prenda p {
    color: #777;
    margin: 10px 0;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.actions button {
    background-color: #9ab189;
    color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.actions button.favorite {
    background-color: transparent;
    color: #a58e68;
}

/* Paginacion */
footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: var(--c_beige-secondary);
}

.pagination {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

.pagination li {
    background-color: var(--c_white);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

.pagination li a {
    text-decoration: none;
    color: var(--c_gray);
    display: block;
    padding: 10px 15px;
    text-align: center;
}

.pagination li:hover {
    background-color: var(--c_green-primary);
}

.pagination li:hover a {
    color: var(--c_white);
}