main {
    padding: 20px;
}

.detalle-prenda {
    display: flex;
    gap: 2rem;
    background-color: var(--c_beiger_terciary);
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 1px 5px 0.5rem rgb(121, 121, 121);
    /* height: 70vh; */
}
.prenda-detalles
{
    display: flex;
    justify-content: space-between;
    height: 5rem;
}
.detalle-prenda-imagen img {
    width: 30vw;
    height: 65vh;
    border-radius: 1rem;
    object-fit: cover;
    margin: 1rem;
    box-shadow: 1px 2.5px 0.5rem rgb(121, 121, 121);
}
.detalle-prenda-info {
    display: grid;
    grid-template-rows: repeat(4);
    width: 100%;
    margin: 1rem 2rem;
}
.prenda-header
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 1rem;
}

.detalle-prenda-info h1 {
    font-size: 40px;
}

.detalle-prenda-info ul {
    list-style-type: none;
    padding: 0;
}
.detalle-prenda-info ul svg
{
    margin-right: 0.5rem;
}

.detalle-prenda-info ul li {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 1rem 0;
    color: var(--c_gray);
}

.detalle-prenda-info button {
    background-color: #7d8057;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 1px 2.5px 0.5rem #303124;
}

.detalle-prenda-info button:hover {
    background-color: #69704a;
}
.prenda-bottom
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 1rem;
}
.prenda-bottom button
{
    width: 30vw;
}
#prenda-descripcion{
    color: var(--c_gray);
    font-size:20px ;
    margin: 1rem;
}

.prendas-relacionadas {
    margin-top: 40px;
}
.prendas-relacionadas h2{
    color: var(--c_gray);
    padding: 1rem 0;
}
.carrusel {
    display: flex;
    align-items: center;
    scroll-behavior: smooth;
    margin: auto;
    width: 80vw;
}

.carrusel-items {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.carrusel-item {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    min-width: 200px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.carrusel-item img {
    max-width: 100%;
    border-radius: 10px;
}

/* .carrusel-prev,
.carrusel-next {
    background-color: #7d8057;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
} */

/* Modal Intercambio */
#exchange-modal{
    display: none;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid transparent;
}
.exchange-modal{
    align-items: center;
}
.exchange-modal-title{
    font-size: 1.2rem;
    font-weight: 600;
}
.exchange-modal-controls{
    width: 80%;
    display: flex;
    justify-content: space-around;
    padding: .5rem 0;
}
.oldClothe-divSelect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
#newClothe-btn, #oldClothe-btn{
    border: 1px solid transparent;
    color: var(--c_beige-secondary);
    background-color: var(--c_green-primary);
}
#oldClothe-select{
    border-radius: .5rem;  
    border: 1px solid var(--c_green-primary);
    padding-left: .5rem;
    font-size: .9rem;
    color: var(--c_green-primary);
    background-color: var(--c_beige-secondary);
    
}
#oldClothe-select:focus{
    outline: none;
}
#newClothe-btn, #oldClothe-btn, #oldClothe-select{
    width: 8vw;
    height: 2rem;
}
.modal-content {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background-color: var(--c_beige-secondary);
    color: var(--c_gray);
    margin: 10% auto;
    padding: 20px;
    width: 40%;
    border-radius: 8px;
    box-shadow: 3px 3px 10px -3px var(--c_gray);
}
/* Modal agregar prenda */
.modal {
    display: none;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid transparent;
}
.modal-content input, .add-clothe_select, .add-clothe_textarea{
    border-radius: .5rem;  
    border: 1px solid transparent;
    padding-left: .5rem;
    height: 3vh;
    font-size: .9rem;
    color: var(--c_gray);
}
.modal-content input:focus, .add-clothe_select:focus, .add-clothe_textarea:focus{
    outline: none;
}
a{
    text-decoration: none;
}
#add-btn{
    border: 1px solid transparent;
    align-self: end;
}