@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
:root {
    /* Fuentes */
    font-family: "DM Sans", sans-serif;
    /* Colores */
    --c_white: #fff;
    --c_black: #000;
    --c_green-primary: #727A4B;
    --c_beige-secondary: #F3E8DA;
    --c_gray: #4C4C4C;
}
* {
    /* border: 1px dotted white; */
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

/* Nav general */
.nav {
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);

    align-items: center;
    padding: 0 1rem;
    background-color: var(--c_green-primary);
    height: 12vh;
}
    /* Logo */
    .nav__logo img {
        grid-column: 1/2;
        grid-row: 1/3;
        width: 5vw;
        height: auto;
    }


    /* Menu, buscador */
.nav__containerMenu {
    grid-column: 3/4;
    margin-top: .5rem;
}

.nav__containerMenu__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    width: 22vw;
    margin-top: .5rem;
}

    .nav__containerMenu__menu a {
        text-decoration: none;
        color: var(--c_beige-secondary);

    }

.nav__containerMenu__searchBar {
    display: flex;
    justify-content: center;
    
}

    .nav__containerMenu__searchBar button {
        border-style: none;
        background-color: transparent;
    }

        .nav__containerMenu__searchBar button i {
            color: var(--c_beige-secondary);
            transform: scale(1.5);
            margin-left: .5rem;
        }

    .nav__containerMenu__searchBar input:focus{
        outline: none;
    }

    #searchBar {
        width: 20vw;
        height: 3vh;
        border-radius: 50px;
        padding-left: .5rem;
        border: none;
    }

    /* Botones usuario */
    .nav__userButton{
        display:flex;
        gap: 1rem;
        grid-column: 5/6;
        justify-self: center;
    }
    .button--outlined{
        /* margin: 0 1rem; */
        padding: .5rem;
        border-radius: .5rem;
        border: 1px solid var(--c_beige-secondary);
        background-color: transparent;
        color: var(--c_beige-secondary);
        font-weight: bold;
    }

    .button--filled{
        /* margin: 0 1rem; */
        padding: .5rem;
        border-radius: .5rem;
        border: 1px solid var(--c_beige-secondary);
        background-color: var(--c_beige-secondary);
        color: var(--c_green-primary);
    }


