@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
:root {
    /* Fuentes */
    font-family: "DM Sans", sans-serif;
    /* Colores */
    --c_white: #fff;
    --c_black: #000;
    --c_green-primary: #727A4B;
    --c_beige-secondary: #F3E8DA;
    --c_gray: #4C4C4C;
}
* {
    /* border: 1px dotted white; */
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

/*Menú hamburguesa*/
.nav__btnHamburger--open, .nav__btnHamburger--close{
    display: none;
    }

/* Nav general */
.nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;
    /* display: flex;
    justify-content: space-between; */
    align-items: center;
    padding: 0 1rem;
    background-color: var(--c_green-primary);
    height: 12vh;
}
    /* Logo */
    .nav__logo img {
        grid-column: 1/2;
        width: 5vw;
        height: auto;
    }


    /* Menu, buscador */
.nav__containerMenu {
    grid-column: 3/4;
    margin-top: .5rem;
}

.nav__containerMenu__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    width: 22vw;
    margin-top: .5rem;
}

    .nav__containerMenu__menu a {
        text-decoration: none;
        color: var(--c_beige-secondary);
        margin: 0 .8rem 0 0 ;
    }

.nav__containerMenu__searchBar {
    display: flex;
    justify-content: center;
    
}

    .nav__containerMenu__searchBar button {
        border-style: none;
        background-color: transparent;
    }

        .nav__containerMenu__searchBar button i {
            color: var(--c_beige-secondary);
            transform: scale(1.5);
            margin-left: .5rem;
        }

    .nav__containerMenu__searchBar input:focus{
        outline: none;
    }

    #searchBar {
        width: 20vw;
        height: 3vh;
        border-radius: 50px;
        padding-left: .5rem;
        border: none;
    }

    /* Botones usuario */

    .nav__userButton{
        grid-column: 5/6;
        display: flex;
        flex-wrap: nowrap;
    }

    .button{
        margin: 0 1rem;
        padding: .5rem;
        border-radius: .5rem;
        font-weight: bold;
    }
    .button--outlined{
        border: 1px solid var(--c_beige-secondary);
        background-color: transparent;
        color: var(--c_beige-secondary);
    }

    .button--filled{
        border: 1px solid var(--c_beige-secondary);
        background-color: var(--c_beige-secondary);
        color: var(--c_green-primary);
    }

/* Main */
.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../assets/img/pesentation__background.png);
    background-size: cover;
    height: 88vh;
}

.presentation h1 {
    margin: 2rem;
    font-size: 8rem;
    color: var(--c_green-primary); 
}
.presentation h1, .presentation__button {
    display: flex;
    justify-content: center;
}

.presentation p {
    font-size: 1.8rem;
    width: 40vw;
    text-align: center;
    color: var(--c_green-primary);
}

.presentation__button button {
    font-size: 1.5rem;
    padding: .5rem 1rem;
    margin-top: 1.5rem;
}

/*Seccion 2 : steps*/
.step{
    height: 60vh;
    border: 1px solid red;
    background-color: var(--c_beige-secondary);
}
.step__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 3rem;
    position: relative;
}
.step__item:not(:last-child)::after{
    content: "";
    position: absolute;
    left: 4.8rem;
    top: 5rem;
    width: 3px;
    height: 8rem;
    background-color: var(--c_green-primary);
}
.step__item__info{
    display: flex;
    align-items: center;
}
.step__item__num{
    font-size: 1.5rem;
    text-align: center;
    width: 4rem;
    height: 4rem;
    border: 1px solid var(--c_green-primary);
    border-radius: 50%;
    background-color: var(--c_green-primary);
    color: var(--c_beige-secondary);
    margin-right: 2rem;
    position: relative;
    z-index: 1;
    align-content: center;
}
.step__item__text{
    color: var(--c_gray);
    max-width: 50vw;
}
.step__item__text h3{
    font-size: 1.5rem;
}

.step__item__img{
    transform: scale(4);
    color: var(--c_gray);
    margin: 0 2.5rem;
}
/*Seccion 2 : swap*/
.swap{
    background-color: var(--c_green-primary);
    padding: 2rem;
}
.swap__title{
    color: var(--c_beige-secondary);
}
.swap__title h3{
    font-size: 1.5rem;
}
.swap__card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 60% 20% 20%;
    width: 20vw;
    height: 35vh;
    padding: .5rem;
    margin: 1rem .5rem;
    border: 1px solid var(--c_beige-secondary);
    border-radius: .5rem;
    background-color: var(--c_beige-secondary);
}
    .swap__card__img{
        grid-column: 1/3;
        background-image: url(../assets/img/pesentation__background.png);
        background-size: cover;
        border-radius: .5rem;
        margin: 0 0 .5rem 0;
    }
    .swap__card__title, .swap__card__text{
        color: var(--c_green-primary);
        grid-column: 1/3;
        grid-row: 2/3;  
    }
    .swap__card__title{
        align-self: start;
        font-weight: 600;
    }
    .swap__card__text{
        align-self: center;
    }
    .swap__like{
        grid-column: 1/2;
        grid-row: 3/4;
        justify-self: start;
        border: none;
        background-color: transparent;
        color: var(--c_green-primary);
        font-size: 1.5rem;
    }
    .swap__card__button{
        grid-column: 2/3;
        grid-row: 3/4;
        align-self: center;
        text-decoration: none;
        color: var(--c_beige-secondary);
        background-color: var(--c_green-primary);
    }
@media screen and (max-width: 480px){ /*Celulares*/
    /*Navegacion*/
    .nav__logo img {
        width: 10vw;
    }
    .nav__containerMenu__menu{
        flex-direction: column;
        text-align: start;
    }
    .button{
        padding: .3rem;
    }
    .button--outlined, .button--filled{
        margin: .2rem;
    }
    .nav__userButton{
        flex-wrap: wrap;
    }
    /*Menú hamburguesa*/
    .nav__logo__img{
        display: none;
    }
    .nav__containerMenu__menu{
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 40vw;
        justify-content: start;

        background-image: linear-gradient(rgba(75, 75, 75, 0.4), rgba(75, 75, 75, 0.4));
        align-items: start;
        padding: 2rem 0 0 1rem;
        margin: 0;
    }
    .nav__containerMenu__menu a{
        color: var(--c_beige-secondary);
        padding: 1rem 0;
    }
    .nav__btnHamburger--open{
        display: block;
        margin: auto;
        border: none;
        background-color: transparent;
        color: var(--c_beige-secondary);
        font-size: 2rem;
    }
    .nav__btnHamburger--close{
        display: block;
        border: none;
        background-color: transparent;
        color: var(--c_beige-secondary);
        font-size:1.3rem ;
    }
    .nav__hamburger--visible{
        opacity: 1;
        visibility: visible;
    }
    .nav__hamburger--invisible{
        opacity: 0;
        visibility: hidden;
    }
    /*Seccion 1: presentation*/
    .presentation{
        justify-content: center;
    }
    .presentation h1{
        font-size: 5rem;
    }
    .presentation p {
        font-size: 1.2rem;
        width: 70vw;
        margin: auto;
    }
    .presentation__button button {
        font-size: 1rem;
        margin-top: 2.5rem;
    }
    /*Seccion 2: step*/
    .step__item{
        margin: auto;
        padding: .5rem;
    }
    .step__item:not(:last-child)::after{
        margin: auto;
        left: 1.7rem;
        top: 3rem;

    }
    .step__item__num{
        width: 2.5rem;
        height: 2.5rem;
    }
    .step__item__num{
        font-size: 1.2rem;
    }
    .step__item__text{
        max-width: 50vw;
    }
    .step__item__text h3{
        font-size: 1rem;
    }
    .step__item__img{
        transform: scale(2);
    } 
}
@media screen and (min-width: 480px) and (max-width: 780px) { /*Tablets*/
    /*Navegacion*/
    .nav{
        justify-items: center;
    }
    .nav__logo img {
        width: 10vw;
    }
    .nav__containerMenu__menu{
        flex-direction: column;
    }
    .nav__containerMenu__menu a {
        margin: 0 1rem;
    }
    .button{
        padding: .3rem;
    }
    .button--outlined, .button--filled{
        margin: .2rem;
    }
    .nav__userButton{
        flex-wrap: wrap;
    }
    /*Menú hamburguesa*/
    .nav__logo__img{
        display: none;
    }
    .nav__containerMenu__menu{
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 30vw;
        justify-content: start;

        background-image: linear-gradient(rgba(75, 75, 75, 0.4), rgba(75, 75, 75, 0.4));
        align-items: start;
        padding: 2rem 0 0 1rem;
        margin: 0;
    }
    .nav__containerMenu__menu a{
        color: var(--c_beige-secondary);
        padding: 1rem 0;
    }
    .nav__btnHamburger--open{
        display: block;
        margin: auto;
        border: none;
        background-color: transparent;
        color: var(--c_beige-secondary);
        font-size: 2rem;
    }
    .nav__btnHamburger--close{
        display: block;
        border: none;
        background-color: transparent;
        color: var(--c_beige-secondary);
        font-size:1.3rem ;
    }
    .nav__hamburger--visible{
        opacity: 1;
        visibility: visible;
    }
    .nav__hamburger--invisible{
        opacity: 0;
        visibility: hidden;
    }
    /*Seccion 1: presentation*/
    .presentation{
        justify-content: center;
    }
    .presentation h1{
        font-size: 7rem;
    }
    .presentation p {
        font-size: 1.5rem;
        width: 50vw;
        margin: auto;
    }
    .presentation__button button {
        font-size: 1.2rem;
        margin-top: 2.5rem;
    }
    
    /*Seccion 2: step*/
    .step__item__num{
        width: 3rem;
        height: 3rem;
    }
    .step__item:not(:last-child)::after{
        margin: auto;
        left: 1.7rem;
        top: 3rem;

    }
    .step__item__num{
        font-size: 1.2rem;
    }
    .step__item__img{
        transform: scale(3);
    } 
}