    /* PERFIL */
    .perfil-container {
        width: 90vw;
        height: 30vh;

        display: flex;
        justify-content: space-between;
        
        margin: 1rem auto;
        padding: 1rem;
        background-color: #f2efe7;
    }
    
    .perfil-header {
        width: 20%;
        height: 25vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    .reputacion-usuario{
        display: flex;
    }
    
    .foto-perfil {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-right: 20px;
        object-fit: cover;
    }
    
    .info-usuario {
        width: 75%;
        height: 25vh;
        padding: .5rem;
    }
    .info-usuario-personal{
        display: flex;
        justify-content: space-between;
    }
    
    #ubicacion-usuario, #descripcion-usuario{
        margin: .5rem 0;
    }

    #nombre-usuario {
        font-size: 24px;
        font-weight: bold;
    }
    
    #ubicacion-usuario {
        font-size: 18px;
        color: gray;
    }
    
    #descripcion-usuario {
        font-size: 16px;
    }
    
    #editar-perfil {
        padding: 10px 20px;
        background-color: transparent;
        border: 1px solid var(--c_gray);
        cursor: pointer;
        color: var(--c_gray);
    }
    
    .tabs {
        display: flex;
        justify-content: space-around;
        margin: 1rem .5rem;
        border-top: 1px solid var(--c_green-primary);
    }
    
    .tab-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 18px;
        padding: 10px 20px;
    }
    
    .tab-content {
        display: flex;
        justify-content: center;
        background-color: #d5d5b2;
        border-radius: 10px;
        padding: 20px;
        width: 100%;
    }
    
    .hidden {
        display: none;
    }
    
    .publicaciones-container, .favoritos-container, .resenas-container {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }
    
    .publicacion-item {
        background-color: white;
        padding: 15px;
        border-radius: 10px;
        text-align: center;
        width: 180px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    .publicacion-item img {
        width: 100%;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    
    button.intercambiar {
        background-color: #607544;
        border: none;
        padding: 10px;
        color: white;
        border-radius: 5px;
        cursor: pointer;
    }